.para{
    color: rgb(255, 255, 255);
}
.background{
    background-image: url(photos/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
width: fit-content;
}
.Welcome{
    color: white;
    text-align: center;
}
.CLASS1{
    text-align: center;
    color: blue;
}
input{
    margin-bottom: 6px;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 3px 1px rgb(255, 167, 167);
}
.submit1{
    padding: 10px 25px;
    background-color: aqua;
}